:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: var(--yellow);
}

.container {
  max-width: 100%;
  width: 400px;
  display: block;
  margin: 50px auto;
  background: var(--white);
  padding: 20px 40px 20px 40px;
  border-radius: 20px;
  border-bottom-right-radius: 30px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 10px solid #000;
  border-right: 10px solid #000;
}

.blog-img img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 320px;
  border-radius: 5px;
  margin-bottom: 20px;
}

p.category {
  padding: 5px 20px;
  font-weight: 700;
  background: var(--yellow);
  width: max-content;
  border-radius: 5px;
  margin-bottom: 10px;
}

p.published-date {
  margin: 10px auto;
  color: var(--gray-950);
}

h1.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}

h1.title:hover {
  color: var(--yellow);
}

p.description {
  margin-bottom: 20px;
  color: var(--gray-500);
  width: 315px;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.author img {
  width: 30px;
  height: auto;
}

.author p {
  font-weight: 700;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    width: 350px;
  }

  h1.title {
    font-size: 1.4rem;
  }

  p.description {
    width: auto;
    word-break: break-all;
  }
}
