:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: var(--slate-300);
}

.container {
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.qr-code-img img {
  width: 100%;
  display: block;
  border-radius: 20px;
}

.qr-code-content {
  padding: 20px;
}

.qr-code-content h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--Slate-900);
}

.qr-code-content p {
  text-align: center;
  padding: 0px 30px;
  color: var(--slate-500);
}

@media (max-width: 600px) {
  .container {
    max-width: 300px;
  }

  .qr-code-content h1 {
    font-size: 1.2rem;
  }

  .qr-code-content p {
    padding: 0px;
  }
}
