:root {
  --blue-100: hsl(225, 100%, 94%);
  --blue-700: hsl(245, 75%, 52%);
  --blue-50: hsl(225, 100%, 98%);
  --gray-600: hsl(224, 23%, 55%);
  --blue-950: hsl(223, 47%, 23%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background: url(../images/pattern-background-desktop.svg) no-repeat;
  background-size: cover;
}

section.container {
  width: 450px;
  display: block;
  margin: 50px auto;
  background: var(--blue-50);
  border-radius: 20px;
}

.order-img img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.order-content {
  padding: 20px;
}

.order-content h1,
.order-content .order-descrip {
  text-align: center;
}

.order-content h1 {
  color: var(--blue-950);
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
}

p.order-descrip {
  width: 300px;
  margin: 0 auto 20px auto;
  color: var(--gray-600);
}

.order-plan {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.order-plan-status {
  color: var(--blue-950);
  font-weight: 700;
  position: relative;
}

.order-plan-status span {
  display: block;
  color: var(--gray-600);
}

.order-plan-status::before {
  content: '';
  background: url('../images/icon-music.svg') no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: -60px;
}

.order-plan-change {
  color: var(--blue-700);
  font-weight: 700;
}

a.btn-content-payment,
a.btn-content-cancel {
  display: block;
  width: 350px;
  text-align: center;
  margin: 0 auto 20px auto;
}

a.btn-content-payment {
  color: var(--blue-50);
  background: var(--blue-700);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

a.btn-content-cancel {
  color: var(--gray-600);
  font-weight: 700;
  text-decoration: none;
  padding: 10px 10px 40px 10px;
}
