body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Vollkorn', Georgia, 'Times New Roman', Times, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    'header header header'
    'sidenav content anuncios'
    'footer footer footer';
}

.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.header li + li {
  margin-left: 30px;
}

.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0px auto 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.sidenav li a:hover {
  background: #b07dfb;
  transition: 0.1s ease-out;
}

.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.col-wide {
  grid-column: 1 / -1;
}

.imagem-1 {
  grid-row: span 2;
  align-self: flex-end;
}

.imagem-2 {
  align-self: flex-end;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: rgba(0, 0, 0, 0.7);
}

.informacoes p + p {
  margin-top: 30px;
}

.titulo {
  color: #b07dfb;
}

.titulo h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font-size: 0.875rem;
  font-style: italic;
}

.caracteristicas {
  display: flex;
  align-items: flex-start;
}

.caracteristicas > div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}

.caracteristicas > div:first-child {
  margin-right: 30px;
}

.caracteristicas span {
  display: block;
  color: #b07dfb;
}

.numero {
  font-size: 3rem;
  line-height: 1;
  margin: 10px auto;
}

.rotulo {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px 0px;
  position: relative;
  top: 2px;
}

.destaque {
  font-size: 0.875rem;
  color: #b07dfb;
  max-width: 16rem;
}

.citacao,
.atributos {
  align-self: flex-start;
  padding: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.citacao p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
}

.atributos li {
  color: #fff;
  font-family: Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid #b07dfb;
}

.anuncios {
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
}

.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
  color: #fff;
  text-align: center;
  padding: 30px;
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      'header header header'
      'sidenav content content'
      'sidenav anuncios anuncios'
      'footer footer footer';
  }
}

@media (max-width: 760px) {
  .estrutura {
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'sidenav'
      'content'
      'anuncios'
      'footer';
  }

  .header {
    grid-template-columns: auto;
  }

  .logo {
    margin-bottom: 20px;
  }

  .header nav a {
    font-size: 1rem;
  }
  .header li + li {
    margin-left: 10px;
  }

  .sidenav ul {
    display: flex;
  }

  .sidenav ul li {
    flex: 1 0 60px;
  }

  .sidenav {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 0 30px;
    position: relative;
  }

  @keyframes seta {
    from {
      right: 30px;
    }
    to {
      right: 20px;
    }
  }

  .sidenav::after {
    content: '->';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }

  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: auto;
  }
}
