:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background: var(--grey-900);
}

p,
a,
h1 {
  color: var(--white);
}

section.container {
  display: block;
  margin: 50px auto;
  max-width: 400px;
  background: var(--grey-800);
  border-radius: 10px;
  padding: 40px;
}

.img-social img {
  display: block;
  width: 80px;
  margin: 0px auto 20px auto;
  border-radius: 50%;
}

h1.name {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

p.city {
  text-align: center;
  margin-bottom: 20px;
  color: var(--green);
}

p.job {
  text-align: center;
  margin-bottom: 20px;
}

nav.info-links li {
  list-style: none;
  background: var(--grey-700);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

nav.info-links li:hover {
  background: var(--green);
}

nav.info-links li:hover a {
  color: var(--grey-700);
  font-weight: 700;
}

nav.info-links li a {
  text-decoration: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    width: max-content;
  }
}
